.absolute-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******************  Header  *****************/
.btn{
    margin-right: 10px;
}

#header-margin-bottom{
    margin-bottom: 2rem;
}

.fill-space {
    flex: 1 1 auto;
}

.auth-btns{
    display: flex;
    justify-content: space-around;
}

/******************  /Header *****************/


/******************  Search bar  *****************/
.searchbar-width{
    display: flex;
    justify-content: center;
}

.search-bar{
    display: flex;
    margin: 3rem 1rem 2rem 1rem;
}
/******************  /Search bar  *****************/

.products-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 1rem 2rem;
    display: inline-block;
    width: 15%;
}

/******************  Footer text  *****************/
.copyright-reserved{
    position: fixed;
    bottom: 0px;
}

.copyright-text{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    text-align: center;
}
/******************  /Footer text  *****************/

/******************  Register  *****************/
.signup-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 2rem 0;
}

/******************  /Register  *****************/
.form-group{
    margin: 1rem 0px;
}

/******************  Login  *****************/
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

/******************  /Login  *****************/

/******************  /Create_Product  *****************/
.create-product-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
/******************  /Create_Product  *****************/

/******************  /Update_Product  *****************/

.update-product-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

/******************  /Update_Product  *****************/

.action-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: lightgray;
}

.h1-text{
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.btns-class{
    margin-bottom: 3rem;
}

#h1-directory{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#add-product-btn{
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.directory-table{
    margin: 1rem 2rem 3rem 2rem;
}

.cart-container{
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}

.place-order{
    height: 10%;
    width: 30%;
    margin-left: 2rem;
}

.center-h1{
    margin: 3rem auto;
    text-align: center;
}

.paginate-margin{
    margin-top: 3rem;
}

#page-number-p{
    font-size: 1.5rem;
    font-weight: bold;
}