<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webshopity</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div th:if="${param.logout}" class="alert alert-success">
        Logged out successfully!
    </div>
    <div th:if="${param.addedtocart}" class="alert alert-success">
        Added to cart!
    </div>
    <div class="searchbar-width">
        <div class="search-bar search-bar-sub">
            <input class="form-control" placeholder="Products Name" id="product">
            <button class="btn btn-outline-success" id="searchName">Search</button>
        </div>

        <div class="search-bar search-bar-sub">
            <input class="form-control" placeholder="Categories" id="category">
            <button class="btn btn-outline-success" id="searchCategory">Search</button>
        </div>

        <div class="search-bar search-bar-sub">
            <input class="form-control" placeholder="Manufacturers" id="manufacturer">
            <button class="btn btn-outline-success" id="searchManufacturer">Search</button>
        </div>
    </div>

    <div class="products-list" id="productlist">
        <div th:if="${productListSize < 1}">
            <p class="text-center">No Products found :(</p>
        </div>
    </div>

    <nav th:if="${productListSize > 0}" class="d-flex justify-content-center">
        <ul class="pagination text-center paginate-margin">
            <li>
                <button class="btn btn-secondary" id="previous-btn">Previous</button>
            </li>
            <li id="page-number-p-container"></li>
            <li>
                <button class="btn btn-primary" id="next-btn">Next</button>
            </li>
        </ul>
    </nav>

    <div th:replace="fragments/footer :: footer"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script>
        let currentPage = 0;
        const productURL = "http://localhost:8080/allproducts?currentPage=";

        function ajaxDefault(product, category, manufacturer){
            const productnameParam = product;
            const categoryParam = category;
            const manufacturerParam = manufacturer;
            let url = "";
            if(productnameParam){
                url = productURL+currentPage+"&productname="+$("#product").val();
            }else if(categoryParam){
                url = productURL+currentPage+"&category="+$("#category").val();
            }else if(manufacturerParam){
                url = productURL+currentPage+"&manufacturer="+$("#manufacturer").val();
            }else{
                url = productURL+currentPage;
            }
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: url,
                success: function (data){
                    console.log(data);
                    if(data.length > 0){
                        let html = "";
                        for (let i = 0; i < data.length; i++){
                            let tempHTML = "";
                            tempHTML =
                                "<div class=\"card bg-dark text-white\">"+
                                "<div class=\"card-body\" >" +
                                "                <h5 class=\"card-title\">"+data[i].name+"</h5>" +
                                "                <p class=\"card-text\">"+data[i].manufacturer+"</p>" +
                                "                <p class=\"card-text\">"+data[i].category+"</p>" +
                                "                <p class=\"card-text\">"+data[i].description+"</p>" +
                                "                <p>"+data[i].price+" Ft" +"</p>" +
                                "                <a href=\"/cart/add/"+data[i].id+"\" class=\"btn btn-success\">Add to cart</a>" +
                                "</div>"+
                                "</div>"
                            html+=tempHTML;
                        }
                        $("#productlist").html(html);
                        $("#page-number-p-container").html("<p class=\"btn btn-info\" id=\"page-number-p\">Page:"+(currentPage+1)+"</p>");
                        if(url.includes("product=")){
                            $("#product").val(productnameParam);
                        }else if(url.includes("category=")){
                            $("#category").val(categoryParam);
                        }else if(url.includes("manufacturer=")){
                            $("#manufacturer").val(manufacturerParam);
                        }
                    }
                    else {
                        if(!currentPage == 0){
                            alert("No more items to show!");
                        }
                    }
                },
                error: function (){
                    alert("default ajax error! url: "+url);
                }
            });
        }

        $(document).ready(function (){
            ajaxDefault();
        });

        $("#previous-btn").click(function(event) {
            $("#previous-btn").attr("disabled", true);
            if (currentPage === 0){
                alert("You are on the first page!");
                $("#previous-btn").attr("disabled", false);
            }else {
                ajaxPaginate("Cannot show previous", false);
            }
        });

        $("#next-btn").click(function(event) {
            $("#next-btn").attr("disabled", true);
            ajaxPaginate("No more items to show!", true);
        });

        function ajaxPaginate(alertMessage, isNext){
            const productnameParam = $("#product").val();
            const categoryParam = $("#category").val();
            const manufacturerParam = $("#manufacturer").val();
            let url = "";
            if(isNext){
                const nextPage = currentPage+1;
                if(productnameParam){
                    url = productURL+nextPage+"&productname="+$("#product").val();
                }else if(categoryParam){
                    url = productURL+nextPage+"&category="+$("#category").val();
                }else if(manufacturerParam){
                    url = productURL+nextPage+"&manufacturer="+$("#manufacturer").val();
                }else{
                    url = productURL+nextPage;
                }
            }else {
                const prevPage = currentPage-1;
                if(productnameParam){
                    url = productURL+prevPage+"&productname="+$("#product").val();
                }else if(categoryParam){
                    url = productURL+prevPage+"&category="+$("#category").val();
                }else if(manufacturerParam){
                    url = productURL+prevPage+"&manufacturer="+$("#manufacturer").val();
                }else{
                    url = productURL+prevPage;
                }
            }
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: url,
                success: function (data){
                    if(data.length > 0){
                        if(isNext){
                            currentPage = +currentPage + 1;
                        }else {
                            currentPage = +currentPage - 1;
                        }
                        var html = "";
                        for (var i = 0; i < data.length; i++){
                            var tempHTML = "";
                            tempHTML =
                                "<div class=\"card bg-dark text-white\">"+
                                "<div class=\"card-body\" >" +
                                "                <h5 class=\"card-title\">"+data[i].name+"</h5>" +
                                "                <p class=\"card-text\">"+data[i].manufacturer+"</p>" +
                                "                <p class=\"card-text\">"+data[i].category+"</p>" +
                                "                <p class=\"card-text\">"+data[i].description+"</p>" +
                                "                <p>"+data[i].price+" Ft" +"</p>" +
                                "                <a href=\"/cart/add/"+data[i].id+"\" class=\"btn btn-success\">Add to cart</a>" +
                                "</div>"+
                                "</div>"
                            html+=tempHTML;
                        }
                        $("#productlist").html(html);
                        if(isNext){
                            $("#page-number-p-container").html("<p class=\"btn btn-info\" id=\"page-number-p\">Page:"+(currentPage+1)+"</p>");
                        }else {
                            $("#page-number-p-container").html("<p class=\"btn btn-info\" id=\"page-number-p\">Page:"+(currentPage+1)+"</p>");
                        }
                        $("#product").val(productnameParam);
                        $("#category").val(categoryParam);
                        $("#manufacturer").val(manufacturerParam);
                        $("#next-btn").attr("disabled", false);
                        $("#previous-btn").attr("disabled", false);
                    }
                    else {
                        alert(alertMessage);
                        $("#next-btn").attr("disabled", false);
                        $("#previous-btn").attr("disabled", false);
                    }
                },
                error: function (){
                    alert("An error occured while paginating");
                    $("#next-btn").attr("disabled", false);
                    $("#previous-btn").attr("disabled", false);
                }
            });
        }


        function checkBeforeClick(){
            const prodParam = $("#product").val();
            const catParam = $("#category").val();
            const manuParam = $("#manufacturer").val();
            const is2Parameter = prodParam && catParam || prodParam && manuParam || catParam && manuParam;
            if (is2Parameter){
                alert("Only 1 search parameter is supported.");
                return;
            }
            window.location.replace("http://localhost:8080");
            ajaxDefault(prodParam, catParam, manuParam);
        }

        $("#searchName").click(function(event){
            checkBeforeClick();
        });
        $("#searchCategory").click(function(event){
            checkBeforeClick();
        });
        $("#searchManufacturer").click(function(event){
            checkBeforeClick();
        });

    </script>
</body>

</html>